* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  background-color: #121411;
}

.visible {
  display: flex;
}

.invisible {
  display: none;
}

/*-----------------------------------------------------Header-----------------------------------------------------*/

header {
  width: 100vw;
  height: 40vh;
  /*background-color: blueviolet;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header img {
  width: 22rem;
  height: auto;
}

header h3 {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: ghostwhite;
}

/*-----------------------------------------------------Main-----------------------------------------------------*/

main {
  width: 100vw;
  height: 50vh;
  /* background-color:blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select {
  background-color: #8b806c;
  padding: 12px;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 5px;
  color: ghostwhite;
}

main .button {
  width: 12rem;
  height: 3.5rem;
  background-color: #8b806c;
  color: ghostwhite;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.button:hover {
  background-color: blue;
}

/*-----------------------------------------------------Footer-----------------------------------------------------*/

footer {
  width: 100vw;
  height: 10vh;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: ghostwhite;
}

.footerText {
  text-align: center;
}

.footerText h6 {
  font-size: 0.9rem;
}

.footerText a {
  font-size: 1 rem;
  color: ghostwhite;
  text-decoration: none;
  cursor: pointer;
}
.footerText a:hover {
  color: rgba(248, 248, 255, 0.425);
}

.fa-info {
  font-size: 2rem;
  /* color: #8b806c; */
  z-index: 1;
  width: 3rem;
  height: auto;
  border-radius: 50%;
  text-align: center;
}

.footerIcon {
  background-color: #8b806c;
  padding: 1rem;
  margin: 0.5rem 0 0.5rem 0;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
/*-----------------------------------------------------LazyUser-----------------------------------------------------*/

.lazyUser {
  color: ghostwhite;
  position: absolute;
  top: 9rem;
  left: 10vw;
  background-color: #8b806c;
  width: 80vw;
  height: 20vh;
  border-radius: 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.faTimes {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
  padding-top: 0.4rem;
  font-size: 1.5rem;
}

.lazyUser p {
  font-weight: 700;
  font-size: 1.2rem;
}

.fa-arrow-down {
  font-size: 2rem;
}

.fa-times {
  cursor: pointer;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-5 13:51:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
